{
    "folders":
    [
        {
            "path": "."
        }
    ],
    "SublimeLinter":
    {
        "linters":
        {
            "flake8": {
                "disable": true
            }
        }
    }
}